/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Add your custom CSS here */
.bg-brand {
  background-color: var(--brand, #02363D);
}
.bg-brand-highlight {
  background-color: var(--brand-highlight, #176F6F);
}
.bg-brand-accent {
  background-color: var(--brand-accent, #E2F7F5);
}
.text-brand {
  color: var(--brand, #02363D);
}
.text-brand-highlight {
  color: var(--brand-highlight, #176F6F);
}

